%header {
  font-family: 'Raleway', sans-serif;  
}
%top-header {
  @extend %header;
  background: -webkit-linear-gradient($cherry-pink, $dark-pink);
  color: $dark-pink;
  padding: .25em 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-header {
  @extend %top-header;
  font-size: 5em; 
}
.sub-header {
  span {
    @extend %top-header;
    font-size: 2em;
    display: inline-block;
  }
}

%panel-header {
  @extend %header;
  font-size:      1.25em;
  margin-bottom:  1em;
  text-transform: underline;
}

.project-header {
  @extend %panel-header;
  margin-top: 1em;
}