.full
  %section.about 
    %h2 About Ben.
    .row
      .beautiful-face
        = image_tag "myface.png"
      .my-description I don't half-ass. That goes for everything in my life: my ideals, my work, and my relationships. I bring my entire ass to each part of my life.



