.full
  .about-container
    %h2.project-header.center About Ben.
    %section.about 
      .row
        .beautiful-face
          = image_tag "myface.png"
        .my-description Web Development has been a part of my life for 8 years. It all started on terrifying Geocities sites when I was 13 and moved to flash website development when I was 18. After that, I became a Front End developer with scripting know how. Currently my goal is to create the beautiful code and enable others to do the same. I believe modern web development boils down to a few basic principals: never stop learning, never stop teaching and always find something to be passionate about.
  .contact-container
    %h2.project-header.center Contact Ben.
    %section.contact
      .row
        .twitter
          %a{href:"http://twitter.com/partyfists"}
            %i.icon-twitter
            %span @partyfists
        .email
          %a{href:"mailto:bjbayard@gmail.com"} 
            %i.icon-envelope
            %span bjbayard@gmail.com

        .phone
          %a{href:"tel:9257599867"} 
            %i.icon-mobile
            %span 9257599867
.full
  %section.projects
    %h2.project-header Ben's Projects
    - @projects.each do |project|
      .row.project
        %i.icon-eye
        .blur-me
          .darken
          %img.image{src: project.image_url}
        .description 
          %h4
            =link_to(project.name, project.site_url)
          %p= project.description
