%p.open-quote &ldquo;
%p.content 
  Sometimes I’m this insatiable force, like the bitter 
  %span.ocean ocean,
  I 
  %span.break-and-batter
    %span.break br
    e
    %span.batter ak 
  and batter and 
  %span.pulse beat
  down entire 
  %span.mountains mountains.
  Other times I’m this 
  %span.barren barren destiny,
  a dried 
  %span.cr cr
  %span.ack ack
  in the 
  %span.hot hottest desert sand.
  %span.insignificant Insignificant, 
  %span.parted parted, 
  %span.dark dark.  
  %span.all-at-once mostlythishappensallatonce.
%p.close-quote &rdquo;